$h:2px;
$bg:linear-gradient(to right, #FF6961, #FF8D29);

page{
    background-color: #fafafa;
}
.select{
    background-color: #fafafa;
    border-top: 1rpx solid transparent;
    .content{
        height: 72 * $h;
        font-size: 14 * $h;
        line-height: 72 * $h;
        background-color: #fff;
        padding: 0 16 * $h;
        margin-top: 8 * $h;
        Text{
            width: 200 * $h;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        button{
            margin: 23 * $h 20 * $h 0 0;
            background: $bg;
        }
    }
}