$idx:2px;
$bg:#FF6961;
.main{
    background-color: #f5f5f5;
    border-top:1px solid transparent;
    .select-paper{
        margin: $idx * 8 0;
        height: $idx * 35;
        background-color: #fff;
        padding: $idx * 10 $idx * 16 0 $idx * 24;
        .title{
            line-height: $idx * 20;
            margin: $idx * 2;
            font-size: 18 * $idx;
            display: inline-block;
            width: 230 * $idx;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
        }
        button{
            float: right;
            background-color: $bg;
            width: 69 * $idx;
            height: 25 * $idx;
            font-size: 12 * $idx;
            line-height: 25 * $idx;
            border:none;
            color: #fff;
        }
    }
    .echart-line-view {
        height: 200 * $idx;
        width: 100%;
        z-index: 999;
        background-color: #fff;
        position: relative;
        margin-top: 6 * $idx;
        padding-top: 80 * $idx;
        .button{
            position: absolute;
            right:16 * $idx;
            top:32 * $idx;
            width: 69 * $idx;
            height: 25 * $idx;
            font-size: 12 * $idx;
            line-height: 25 * $idx;
        }
        .number{
            position: absolute;
            left:24 * $idx;
            top:24 * $idx;
            font-size: 18 * $idx;
            line-height: 20 * $idx;
        }
        .title{
            position: absolute;
            left:24 * $idx;
            top:48 * $idx;
            font-size: 12 * $idx;
            line-height: 17 * $idx;
        }
    }
}