$idx:2px;
$bg:linear-gradient(to right, #FF6961, #FF8D29);

button{
    float: right;
    background: $bg;
    width: 69 * $idx;
    height: 25 * $idx;
    font-size: 12 * $idx;
    line-height: 25 * $idx;
    border:none;
    color: #fff;
    border-radius: 2 * $idx;
}